<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   <form method="post" action="/sh">
    <input type="text" name="longurl" id="" placeholder="paste the url">
    <button>shorten</button>
   </form>
</body>
</html>